{% extends "global/root.html" %}

{% load staticfiles %}

{% block content %}

    <h2>Rates for {{ groupprofile.group.name }}</h2>
    <h3>Fuel Rates &amp; Defaults</h3>
    <form class="form-horizontal" method="post" action="{% url 'set_group_rates' groupprofile.pk %}">
        {% csrf_token %}
        <div class="form-group">
            <label class='col-sm-3 control-label'
                   for="{{ groupconsumablesrateform.current_fuel_rebate_price_per_litre.id_for_label }}">Default Fuel
                Rebate Price (inc. VAT)</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon">&pound;</span>
                    {{ groupconsumablesrateform.current_fuel_rebate_price_per_litre }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class='col-sm-3 control-label'
                   for="{{ groupconsumablesrateform.current_oil_rebate_price_per_litre.id_for_label }}">Default Oil
                Rebate Price (inc. VAT)</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon">&pound;</span>
                    {{ groupconsumablesrateform.current_oil_rebate_price_per_litre }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class='col-sm-3 control-label'
                   for="{{ groupconsumablesrateform.default_cost_per_unit.id_for_label }}">Default Rate for New
                Members</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <span class="input-group-addon">&pound;</span>
                    {{ groupconsumablesrateform.default_cost_per_unit }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">

                <input type="submit" class="btn btn-default" value="Set"/>
            </div>
        </div>

    </form>

    <h3>Member Hourly Rates</h3>

    <form class="form-horizontal" method="post" action="{% url 'set_member_rates' groupprofile.pk %}">

        {% csrf_token %}
        {{ memberrateform.management_form }}
        {% for form in memberrateform %}
            {{ form.id }}
            <div class="form-group">
                <label class='col-sm-3 control-label'
                       for="{{ form.current_cost_per_unit.id_for_label }}">{{ form.instance.member.get_full_name }}</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <span class="input-group-addon">&pound;</span>
                        {{ form.current_cost_per_unit }}
                    </div>
                </div>
            </div>


        {% endfor %}

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">

                <input type="submit" class="btn btn-default" value="Save"/>

            </div>
        </div>
    </form>

{% endblock %}
