{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>techlog.aero</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/ionicons.css' %}" type="text/css" />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="{% static 'css/techlog.css' %}" media="screen" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/techlog.print.css' %}" media="print" type="text/css" />

    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block header %}
    {% endblock %}
</head>
<body>
<header>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'dashboard' %}"><span class="icon ion-paper-airplane titleglyph"></span>&nbsp;<span class="titletext">techlog.aero</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">

          {% if user.is_anonymous %}
          <li><a href="{% url 'login' %}" title="Login">Sign in</a></li>
          {% else %}
                {% for group in user.groups.all %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ group.name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'group' group.id %}">Details</a></li>
                        <li><a href="{% url 'group_rates' group.id %}">Rates</a></li>
                    </ul>
                </li>
              {% endfor %}
              {% for group in user.groups.all %}
              {% for aeroplane in group.aeroplane_set.all %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ aeroplane.registration }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'addflight' aeroplane.registration %}">Add Flight</a></li>
                        <li><a href="{% url 'addmxevent' aeroplane.registration %}">Add MX Event</a></li>
                        <li><a href="{% url 'techlogentrylist' aeroplane.registration %}">Tech Log</a></li>
                        <li><a href="{% url 'group_member_list' aeroplane.registration %}">Group Member Statements</a></li>
                        <li><a href="{% url 'aeroplane' aeroplane.registration %}">Aircraft Details</a></li>
                        <li><a href="{% url 'consumables' aeroplane.registration %}">Consumables Summary</a></li>

                    </ul>
                </li>
              {% endfor %}
              {% endfor %}

          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.get_username }} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'creategroup' %}">Create New Group</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
          </li>
          {% endif %}


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</header>

<div class="container-fluid">
{% block content %}
{% endblock %}
</div><!-- /.container-fluid -->

</body>
</html>
