{% extends "global/root.html" %}
{% load decimaltime %}
{% load staticfiles %}

{% block header %}
    {# Django doesn't correctly prepend the static url if, say, S3 storage is in operation so form.medis doesn't work. Do it manually. #}
    <link href="{% static 'css/datetimepicker.css' %}" type="text/css" media="all" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
{% endblock %}


{% block content %}
    <form action="{% url 'aeroplane' aeroplane.registration %}" method="post">
    {% csrf_token %}

            <table class="table">
                <tr class="info">
                    <td colspan="2">
                        Registration
                    </td>
                </tr>
                <tr>
                    <th>Registration</th>
                    <td><strong>{{ aeroplane.registration }}</strong></td>
                </tr>
                <tr>
                    <th>Owning Group</th>
                    <td><a href="{% url 'group' aeroplane.owning_group.id %}">{{ aeroplane.owning_group.name }}</a></td>
                </tr>
                <tr>
                    <th>Registered</th>
                    <td>{{ aeroplane.registered }}</td>
                </tr>

                <tr class="info">
                    <td colspan="2">
                        Technical
                    </td>
                </tr>

                <tr>
                    <th>Manufacturer</th>
                    <td>{{ aeroplane.manufacturer }}</td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ aeroplane.type }}</td>
                </tr>
                <tr>
                    <th>Model</th>
                    <td>{{ aeroplane.model }}</td>
                </tr>
                <tr>
                    <th>MTOW</th>
                    <td>{{ aeroplane.mtow }} kg</td>
                </tr>
                <tr>
                    <th>Engines</th>
                    <td>{{ aeroplane.engine_count }}</td>
                </tr>
                <tr>
                    <th>Engine</th>
                    <td>{{ aeroplane.engine }}</td>
                </tr>
                <tr>
                    <th>Propeller</th>
                    <td>{{ aeroplane.propeller }}</td>
                </tr>

                <tr class="info">
                    <td colspan="2">
                        Maintenance
                    </td>
                </tr>

                <tr>
                    <th>Total Time Airframe</th>
                    <td>{{ aeroplane.ttaf|humanise_longhours }}</td>
                </tr>

                <tr>
                    <th>Total Time Engine</th>
                    <td>{{ aeroplane.tte|humanise_longhours }}</td>
                </tr>

                <tr>
                    <th>Total Time Propeller</th>
                    <td>{{ aeroplane.ttp|humanise_longhours }}</td>
                </tr>

                <tr>
                    <th>Last Check</th>
                    <td>{{ last_check.time }}</td>
                </tr>

                <tr>
                    <th>Last Check Type</th>
                    <td>{{ last_check.get_type_display }}</td>
                </tr>
                <tr>
                    <th>Last Check TTAF</th>
                    <td>{{ last_check.ttaf|humanise_longhours }}</td>
                </tr>
                <tr>
                    <th>Last Annual Check</th>
                    <td>{{ aeroplane.last_annual }}</td>
                </tr>
                <tr>
                    <th>ARC Expiry {{ form.arc_expiry.errors }}</th>
                    <td>{{ form.arc_expiry }}</td>
                </tr>

                <tr>
                    <th>Radio License Expiry {{ form.radio_expiry.errors }}</th>
                    <td>{{ form.radio_expiry }}</td>
                </tr>

                <tr>
                    <th>Insurance Expiry {{ form.insurance_expiry.errors }}</th>
                    <td>{{ form.insurance_expiry }}</td>
                </tr>
                <tr>
                    <td>{{ form.errors }}</td>
                    <td>
                        <button id='submit-button' class='btn btn-default' type="submit">Save</button>
                    </td>
                </tr>
            </table>
    </form>
{% endblock %}
