{% extends "global/root.html" %}
{% load decimaltime %}
{% load staticfiles %}

{% block header %}
    {# Django doesn't correctly prepend the static url if, say, S3 storage is in operation so form.medis doesn't work. Do it manually. #}
    <link href="{% static 'css/datetimepicker.css' %}" type="text/css" media="all" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="page-header">
        <h2>Add Maintenance Event for {{ aeroplane.registration }}</h2>
    </div>
    <p>Always use the TTAF, TTE and TTP provided by the maintenance organisation if available.</p>
    <p>If given a value, please divide the minutes by 60 - this needs to be 'decimal time' for now!</p>

    <form method="post" action="{% url 'addmxevent' aeroplane.registration %}">
    <table class="table">
            {% csrf_token %}
            {{ mx_event_form.as_table }}
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-default" value="Add Event"/></td>
            </tr>

    </table>
    </form>

<h2>Extension Granted by CAMO</h2>
    <form method="post" action="{% url 'addmxevent' aeroplane.registration %}">
    <table class="table">
            {% csrf_token %}
            {{ mx_extension_form.as_table }}
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-default" value="Update Extension"/></td>
            </tr>

    </table>
    </form>

{% endblock %}
