{% extends "global/root.html" %}
{% load decimaltime %}
{% load staticfiles %}
{% load checktype %}

{% block header %}

{% endblock %}


{% block content %}
    {% include 'log/datenav.html' %}

        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="{% url "techlogentrylist_by_date" aeroplane.registration date|date:"Y" date|date:"n" %}" class="hidden-print">Tech Log</a></li>
          <li role="presentation"><a href="{% url "techlogentrylist_technical" aeroplane.registration date|date:"Y" date|date:"n" %}" class="hidden-print">Times</a></li>
          <li role="presentation"><a href="{% url "log_month_summary" aeroplane.registration date|date:"Y" date|date:"n" %}" class="hidden-print">Summary</a></li>
          <li role="presentation"><a href="{% url "cap398_by_date" aeroplane.registration date|date:"Y" date|date:"n" %}" class="hidden-print">CAP 398/399 View</a></li>
        </ul>

        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>PIC</th>
                    <th colspan="2">Departure</th>
                    <th colspan="2">Arrival</th>
                    <th>Flight Duration</th>
                    <th>Airborne Time</th>
                    <th>Departure Tacho</th>
                    <th>Arrival Tacho</th>
                    <th>Tacho Time</th>
                    <th>Check A</th>
                    <th class="hidden-print">Fuel Uplift</th>
                    <th class="hidden-print">Oil Uplift</th>
                    <th>Defects</th>
                    <th>Until next check</th>
                    <th class="hidden-print"></th>
                    <th class="hidden-print"></th>
                </tr>
                </thead>

                <tbody>
                {% for entry in logentries %}
                    <tr>
                        <td>{{ entry.departure_time|date:"SHORT_DATE_FORMAT" }}</td>
                        <td>{{ entry.commander }}</td>

                        <td>{{ entry.departure_location }} </td>
                        <td>{{ entry.departure_time|time:"H:i" }}</td>
                        <td>{{ entry.arrival_location }} </td>
                        <td>{{ entry.arrival_time|time:"H:i" }}</td>

                        <td>{{ entry.flight_duration }}</td>
                        <td>{{ entry.airborne_time }}</td>

                        <td>{{ entry.departure_tacho|stringformat:".02f" }}</td>
                        <td>{{ entry.arrival_tacho|stringformat:".02f" }}</td>
                        <td>{{ entry.engine_duration|stringformat:".02f" }}</td>
                        <td style="text-align: center">{% if entry.check_a_completed %}✓{% endif %}</td>
                        <td class="hidden-print">{{ entry.fuel_uplift }}</td>
                        <td class="hidden-print">{{ entry.oil_uplift }}</td>
                        <td>{{ entry.defects }}</td>

                        {% if entry.until_next_check < 5 %}
                            <td class="danger">
                                {% elif entry.until_next_check < 10 %}
                            <td class="warning">
                                {% else %}
                            <td>
                        {% endif %}
                        {{ entry.until_next_check|humanise_longhours }}
                        {% if entry.aeroplane.mx_extension %}
                            <strong>[inc. X {{ entry.aeroplane.mx_extension }}]</strong>
                        {% endif %}
                        </td>

                        <td class="hidden-print"><a class="btn btn-default btn-sm"
                               href="{% url 'logentry' entry.aeroplane.registration entry.id %}"><span
                                class="glyphicon glyphicon-edit"></span></a></td>
                        <td class="hidden-print"><a class="btn btn-default btn-sm"
                               href="{% url 'delete_logentry' entry.aeroplane.registration entry.id %}">✘</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% if trailing_check %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">A Check happened after the last flight</h3>
            </div>
            <div class="panel-body">
                {{ trailing_check.type|humanise_checktype }} at {{ trailing_check.time }}
            </div>
            <div class="panel-footer">Until next
                check: {{ aeroplane.next_check_pair.flying_hours_check.check_in_flying_hours }} hours
            </div>
        </div>

    {% endif %}

{% endblock %}
