{% extends "global/root.html" %}
{% load decimaltime %}
{% load staticfiles %}

{% block content %}
    {% include 'log/datenav.html' %}

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{% url "techlogentrylist_by_date" aeroplane.registration date|date:"Y" date|date:"n" %}">Tech Log</a></li>
        <li role="presentation"><a href="{% url "techlogentrylist_technical" aeroplane.registration date|date:"Y" date|date:"n" %}">Times</a></li>
        <li role="presentation" class="active"><a href="{% url "log_month_summary" aeroplane.registration date|date:"Y" date|date:"n" %}">Summary</a></li>
        <li role="presentation"><a href="{% url "cap398_by_date" aeroplane.registration date|date:"Y" date|date:"n" %}">CAP 398/399 View</a></li>
    </ul>

    {% for commander, summary in logentries.items %}
        <h3>Capt {{ commander }}</h3>
                <div class="table-responsive">
                    <table class="table table-hover table-condensed">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>From</th>
                            <th>To</th>

                            <th>Block Time (hh:mm)</th>
                            <th>Tacho Time (hh.%hh)</th>

                            <th>Fuel Uplift (L)</th>
                            <th>Oil Uplift (L)</th>

                            <th>Charge Rate (&pound;/unit)</th>
                            <th>Flight Cost (&pound;)</th>
                            <th>Fuel Rebate Rate (&pound;/L)</th>
                            <th>Fuel Rebate (&pound;)</th>
                            <th>Oil Rebate Rate (&pound;/L)</th>
                            <th>Oil Rebate (&pound;)</th>

                            <th>Total Rebate (&pound;)</th>

                            <th>Net Cost (&pound;)</th>

                            <th>Receipts</th>

                        </tr>
                        </thead>

                        <tbody>
                        {% for entry in summary.flight_list %}
                            <tr>
                                <td>{{ entry.departure_time|date:"SHORT_DATE_FORMAT" }}</td>
                                <td>{{ entry.departure_location }}</td>
                                <td>{{ entry.arrival_location }}</td>

                                <td>{{ entry.flight_duration }}</td>
                                <td>{{ entry.engine_duration|stringformat:".02f" }}</td>

                                <td>{{ entry.fuel_uplift }}</td>
                                <td>{{ entry.oil_uplift }}</td>

                                <td>{{ entry.cost_per_unit|floatformat:2 }}</td>
                                <td>{{ entry.gross_cost|floatformat:2 }}</td>
                                <td>{{ entry.fuel_rebate_price_per_litre|floatformat:2 }}</td>
                                <td>{{ entry.fuel_rebate|floatformat:2 }}</td>
                                <td>{{ entry.oil_rebate_price_per_litre|floatformat:2 }}</td>
                                <td>{{ entry.oil_rebate|floatformat:2 }}</td>

                                <td>{{ entry.rebate|floatformat:2 }}</td>

                                <td>{{ entry.net_cost|floatformat:2 }}</td>
                                <td>
                                    {% for consumables_receipt_image in entry.consumablesreceipt_set.all %}
                                        <a href="{{ consumables_receipt_image.image.url }}">Image</a>
                                    {% endfor %}

                                </td>

                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>{{ summary.totals.block }}</strong></td>
                            <td><strong>{{ summary.totals.tacho|stringformat:".02f" }}</strong></td>
                            <td><strong>{{ summary.totals.fuel }}</strong></td>
                            <td><strong>{{ summary.totals.oil }}</strong></td>
                            <td></td>
                            <td><strong>{{ summary.totals.gross|floatformat:2 }}</strong></td>
                            <td></td>
                            <td><strong>{{ summary.totals.fuel_rebate|floatformat:2 }}</strong></td>
                            <td></td>
                            <td><strong>{{ summary.totals.oil_rebate|floatformat:2 }}</strong></td>
			    <td></td>
                            <td><strong>{{ summary.totals.net|floatformat:2 }}</strong></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>


    {% endfor %}



    <h3>Consumables</h3>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th>Airborne Hours (hh:mm)</th>
                <th>Fuel Used (L)</th>
                <th>Oil Used (L)</th>
                <th>Fuel Consumption (L/a.b. hours)</th>
                <th>Oil Consumption (L/a.b. hours)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>{{ consumables_summary.airborne }}</td>
            <td>{{ consumables_summary.fuel }}</td>
            <td>{{ consumables_summary.oil }}</td>
            <td>{{ consumables_summary.fuel_litres_per_hour|floatformat:2 }}</td>
            <td>{{ consumables_summary.oil_litres_per_hour|floatformat:2 }}</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
