{% extends "global/root.html" %}
{% load decimaltime %}
{% load staticfiles %}

{% block header %}

{% endblock %}

{% block content %}

    {% include 'log/datenav.html' with printview='techlogentrylist_technical_print' %}

    <ul class="nav nav-tabs">
      <li role="presentation"><a href="{% url "techlogentrylist_by_date" aeroplane.registration date|date:"Y" date|date:"n" %}" class="hidden-print">Tech Log</a></li>
      <li role="presentation" class="active"><a href="{% url "techlogentrylist_technical" aeroplane.registration date|date:"Y" date|date:"n" %}" class="hidden-print">Times</a></li>
      <li role="presentation"><a href="{% url "log_month_summary" aeroplane.registration date|date:"Y" date|date:"n" %}" class="hidden-print">Summary</a></li>
      <li role="presentation"><a href="{% url "cap398_by_date" aeroplane.registration date|date:"Y" date|date:"n" %}" class="hidden-print">CAP 398/399 View</a></li>
    </ul>

    <div class="table-responsive">
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>Date</th>
                <th>PIC</th>
                <th colspan="2">Departure</th>
                <th colspan="2">Arrival</th>
                <th>Flight Duration</th>
                <th>Airborne Time</th>
                <th>Tacho Time</th>
                <th>Check A</th>
                <th>Defects</th>
                <th>TTAF</th>
                <th>TTE</th>
                <th>TTP</th>
                <th>Until next check</th>
            </tr>
            </thead>

            <tbody>
            {% for entry in logentries %}
                <tr>
                    <td>{{ entry.departure_time|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{ entry.commander }}</td>

                    <td>{{ entry.departure_location }} </td>
                    <td>{{ entry.departure_time|time:"H:i" }}</td>
                    <td>{{ entry.arrival_location }} </td>
                    <td>{{ entry.arrival_time|time:"H:i" }}</td>

                    <td>{{ entry.flight_duration }}</td>
                    <td>{{ entry.airborne_time }}</td>

                    <td>{{ entry.engine_duration|stringformat:".02f" }}</td>
                    <td style="text-align: center">{% if entry.check_a_completed %}✓{% endif %}</td>
                    <td>{{ entry.defects }}</td>

                    <td>{{ entry.ttaf|humanise_longhours }}</td>
                    <td>{{ entry.tte|humanise_longhours }}</td>
                    <td>{{ entry.ttp|humanise_longhours }}</td>

                    {% if entry.until_next_check < 5 %}
                        <td class="danger">
                            {% elif entry.until_next_check < 10 %}
                        <td class="warning">
                            {% else %}
                        <td>
                    {% endif %}
                    {{ entry.until_next_check|humanise_longhours }}
                    {% if entry.aeroplane.mx_extension %}
                        <strong>[inc. X {{ entry.aeroplane.mx_extension }}]</strong>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
